body{
  background-color: blueviolet;

}
.main-div{
text-align: center;
}
.child-div{
  padding-top: 15vh;
}
.addItems{
  margin-left: 30vh;

}

.heading{
  margin-left: 4vh;
}


.input-area{
  width:50vh ;
  height: 5vh;
  border: 2px solid black;
  border-radius:5px;
}
.add-btn{
  margin-left: 2vh;
  width: 15vh;
  height: 4vh;
  background-color: rgb(229, 109, 229);
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

